/bin/
/obj/
/lib/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/
config.log
config.status
configure
include/czmq++/Makefile
include/czmq++/Makefile.in
libczmq++.pc
libtool
src/.deps/
src/.libs/
src/Makefile
src/Makefile.in
src/libczmq++.la
src/*.o
src/*.lo
