<?xml version="1.0" encoding="utf-8"?>
<!-- These values are populated into the package.gsl templates by package.bat. -->
<!-- The target attribute controls path and file name only, id controls package naming. -->
<package id="czmqpp_vc120" target="czmqpp" namespace="czmqpp12" version = "1.0.0.2" pathversion="1_0_0_2" platformtoolset="v120" />